<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toutes les blagues - Fakembar & Co.</title>
    <link rel="stylesheet" href="../public/css/global.css">
</head>
<body id="wideBody">
    <header class="header yellowBg">
        <div class="logo">
            <a href="../index.html">
                <img class="logo" src="/assets/images/carambar-logo.png" alt="Carambar Logo">
                <h1>Fakembar & Co.</h1>
            </a></div>
        <navbar class="navbar"><label id="burger-menu" for="toggle">☰</label><input type="checkbox" id="toggle">
            <ul>
                <li class="navbarItem"> <a href="./allJokes.html">Toutes les blagues</a></li>
                <li class="navbarItem"> <a href="./randomJoke.html">Aléatoire</a>
                <li class="navbarItem"> <a href="./uniqueJoke.html">Sélection</a></li>
            </ul>
        </navbar>
    </header>
    <main class="wrapper jokeAll">
        <p class="temp"> Chargement...</p>
    </main>
    <footer class="footer">
        <div class="footerDiv yellowBg">
            <p>© 2025 Fakembar & Co. - Tous droits réservés</p>
        </div>
    </footer>
</body>
    <script>
        // Chargement initial des blagues
        const apiHost = 'https://fakembar.onrender.com';
        (async () => {
            const wrapper = document.querySelector("main.wrapper")
            try {
                const response = await fetch(`${apiHost}/api/v1/jokes/all`);
                if (!response.ok) {
                    throw new Error(`Erreur HTTP! Statut: ${response.status}`);
                }
                document.querySelector(".temp").remove();
                const jokes = await response.json();                
                jokes.forEach(joke => {
                    const newDivPair = document.createElement("div");
                    newDivPair.classList.add("pair");
                    
                    const newDivQuestion = document.createElement("div");
                    newDivQuestion.classList.add("question");
                    const newParagraphQuestion = document.createElement("p");
                    newParagraphQuestion.textContent = joke.text;
                    newDivQuestion.appendChild(newParagraphQuestion);
                    
                    const newDivAnswer = document.createElement("div");
                    newDivAnswer.classList.add("answer");
                    const newParagraphAnswer = document.createElement("p");
                    newParagraphAnswer.textContent = joke.answer;
                    newDivAnswer.appendChild(newParagraphAnswer);
                    
                    newDivPair.appendChild(newDivQuestion);
                    newDivPair.appendChild(newDivAnswer);
                    
                    wrapper.appendChild(newDivPair);
                });

            } catch (error) {
                console.error('Erreur:', error);
                const newParagraph = document.createElement("p");
                wrapper.appendChild(newParagraph);
                newParagraph.innerHTML = "Erreur lors du chargement des blagues";
            }
        })();
    </script>
</html>