<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Visionnage d'une blague unique">
    <title>Toutes les blagues - Fakembar & Co.</title>
    <link rel="stylesheet" href="../public/css/global.css">
    <script defer src="../public/js/uniqueJoke.js"></script>
</head>
<body id="wideBody">
    <header class="header yellowBg">
        <div class="logo">
            <a href="../index.html">
                <img class="logo" src="../public/webp/logo.webp" height="50px" width="200px" alt="Fakembar Logo">
                <h1 class="text-align-center">Fakembar & Co.</h1>
            </a></div>
        <navbar class="navbar"><label id="burger-menu" for="toggle">☰</label><input type="checkbox" id="toggle">
            <ul>
                <li class="navbarItem"> <a href="./allJokes.html">Toutes les blagues</a></li>
                <li class="navbarItem"> <a href="./randomJoke.html">Aléatoire</a>
                <li class="navbarItem"> <a href="./uniqueJoke.html">Sélection</a></li>
            </ul>
        </navbar>
    </header> 
    <main class="wrapper">
        <div class="slideshow-container">
            <p class="temp"><span class="loader"></span> Chargement des blagues...</p>
        </div>
    </main>
    
    <footer class="footer">
        <div class="footerDiv yellowBg">
            <p>© 2025 Fakembar & Co. - Tous droits réservés</p>
        </div>
    </footer>
</body>
</html>